* { margin: 0; padding: 0;}
body{
    background-color: #f0f0f3;
}
p.g{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 1.5em Hind, sans-serif;
    background: linear-gradient(135deg, #f02fc2 0%, #6094ea 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
div.neumorphism-box {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    
    border-radius: 50px;
    background-color: #f0f0f3;
    /*box-shadow: 0 0 21px #5a89d4;*/
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
}
div.f {
    position:relative;
    top: 14%;
    left: 15%;
    width: 350px;
    height: 350px;
    border-radius: 150px;
    background-color: #f0f0f3;
    /*box-shadow: 0 0 21px #5a89d4;*/
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
}
main.d {
    position:absolute;
    margin: 0 auto;
    top: 15%;
    left: 35%;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background-color: #f0f0f3;
    /*box-shadow: 0 0 21px #5a89d4;*/
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
}
header {
    width: 100%;
    height: 30%;
}
div.container{
    display: grid;
    grid-template-columns: (1, 100%);
    justify-items : center;
    align-items: center;
    align-content : center;
    justify-content : center;
}
header {
    display: grid;
    justify-items : center;
    align-items: center;
    align-content : center;
    justify-content : center;
}
div.A {
    position:absolute;
    width: 200px;
    height: 60px;

    border-radius: 50px;
    background-color: #f0f0f3;
    box-shadow: 0 0 21px #c3c3c6;
}
p.l {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    font: 1.1em Hind, serif;
    /*font: 1.3em Hind, sans-serif ;*/
    background: linear-gradient(135deg, #f02fc2 0%, #6094ea 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
